<div class="sidebar-body">
    <div class="sidebar-header">
        <a href="index.html" class="sidebar-logo"><img src="~/images/logo.png" alt="logo"></a>
        <button class="sidebar-cross"><i class="fas fa-times"></i></button>
    </div>
    <div class="sidebar-content">
        @* <div class="sidebar-profile">
        <a href="#" class="sidebar-avatar"><img src="images/avatar/01.jpg" alt="avatar"></a>
        <h4><a href="#" class="sidebar-name">Jackon Honson</a></h4>
        <a href="ad-post.html" class="btn btn-inline sidebar-post">
        <i class="fas fa-plus-circle"></i>
        <span>post your ad</span>
        </a>
        </div> *@
        <div class="sidebar-menu">
            <ul class="navbar-list">
                <li class="navbar-item">
                    <a class="navbar-link" asp-controller="Dashboard" asp-action="Dashboard">Home</a>
                </li>
                <li class="navbar-item navbar-dropdown">                    
                    <a class="navbar-link" href="#">
                        <span>Users</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li>
                            <a class="navbar-link" asp-controller="Dashboard" asp-action="ManageUsers">Manage Users</a>
                        </li>
                        <li>
                            <a class="navbar-link" asp-controller="Dashboard" asp-action="GetRoles">Roles</a>
                        </li>
                        <li>
                            <a class="navbar-link" asp-controller="Dashboard" asp-action="Users">User Membership</a>
                        </li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Products</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" asp-area="" asp-controller="User" asp-action="Categories" asp-route-id="">Categories</a></li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Blogs</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" asp-area="" asp-controller="User" asp-action="BlogPost" asp-route-id="">Create Blog</a></li>
                        <li><a class="dropdown-link" asp-area="" asp-controller="Dashboard" asp-action="ManageBlogs" asp-route-id="">Manage Blogs</a></li>
                        <li><a class="dropdown-link" asp-area="" asp-controller="Dashboard" asp-action="ReviewBlogs" asp-route-id="">Review Blogs</a></li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Billing</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" href="ad-details-grid.html">Order Details</a></li>
                        <li><a class="dropdown-link" href="ad-details-left.html">Billing Info</a></li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Membership</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" asp-controller="Dashboard" asp-action="Membership">Membership Access Level</a></li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Ads Management</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" asp-controller="Dashboard" asp-action="ReviewAds">Review Ads</a></li>
                        <li><a class="dropdown-link" asp-controller="Dashboard" asp-action="ManageAds">Manage Ads</a></li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Jobs</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" asp-area="" asp-controller="JobNews" asp-action="CreateJob" asp-route-id="">Create Job</a></li>
                        <li><a class="dropdown-link" asp-area="" asp-controller="JobNews" asp-action="JobInfo" asp-route-id="">Manage Jobs</a></li>
                    </ul>
                </li>
                <li class="navbar-item navbar-dropdown">
                    <a class="navbar-link" href="#">
                        <span>Services</span>
                        <i class="fas fa-greater-than"></i>
                    </a>
                    <ul class="dropdown-list">
                        <li><a class="dropdown-link" asp-controller="Service" asp-action="Services">Service Management</a></li>
                        <li><a class="dropdown-link" asp-controller="Service" asp-action="AdminBookings">Booking Management</a></li>
                        <li><a class="dropdown-link" asp-controller="Service" asp-action="AdminProviders">Service Providers</a></li>
                    </ul>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-controller="Dashboard" asp-action="Logout">Logout</a>
                </li>
            </ul>
        </div>

        <div class="sidebar-footer">
            <p>All Rights Reserved By <a href="#">Classicads</a></p>
            <p>Developed By <a href="https://themeforest.net/user/mironcoder">Mironcoder</a></p>
        </div>
    </div>
</div>