@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<header class="header-part">
    <div class="container">
        <div class="header-content">
            <div class="header-left">

                @if (!string.IsNullOrEmpty(Context.Session.GetString("userName")))
                {
                    <button type="button" class="header-widget sidebar-btn">
                        <i class="fas fa-align-left"></i>
                    </button>
                }
                <a class="text-dark header-logo" asp-area="" asp-controller="Dashboard" asp-action="Dashboard">
                    <img src="@Url.Content("~/images/logo.png")" alt="logo">
                </a>
                @if (string.IsNullOrEmpty(Context.Session.GetString("userName")))
                {
                    <a class="text-dark header-widget header-user" asp-area="" asp-controller="Dashboard" asp-action="Login">
                        <img src="@Url.Content("~/images/user.png")" alt="user">
                        <span>Join Me</span>
                    </a>
                }
                
                <button type="button" class="header-widget search-btn">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <form class="header-form">
                <div class="header-search">
                    <button type="submit" title="Search Submit "><i class="fas fa-search"></i></button>
                    <input type="text" placeholder="Search, Whatever you needs...">
                    <button type="button" title="Search Option" class="option-btn"><i class="fas fa-sliders-h"></i></button>
                </div>
            </form>
             @if (!string.IsNullOrEmpty(Context.Session.GetString("userName")))
                {
                        <div class="header-right">
                            <ul class="header-list">
                                <li class="header-item">
                                    <a href="bookmark.html" class="header-widget">
                                        <i class="fas fa-heart"></i>
                                <sup>@ViewData["wishlistcount"]</sup>
                                    </a>
                                </li>
                                <li class="header-item">
                                    <button type="button" class="header-widget">
                                        <i class="fas fa-envelope"></i>
                                        <sup>0</sup>
                                    </button>
                                </li>
                                <li class="header-item">
                                    <button type="button" class="header-widget">
                                        <i class="fas fa-bell"></i>
                                        <sup>0</sup>
                                    </button>
                                </li>
                            </ul>
                    <a asp-controller="User" asp-action="PostAd" class="btn btn-inline post-btn">
                                <i class="fas fa-plus-circle"></i>
                                <span>post your ad</span>
                            </a>
                        </div>
                    }
        </div>
    </div>
</header>