@model BlogViewModel
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="~/css/custom/blog-details.css">
    <!--=====================================
                CSS LINK PART END
    =======================================-->
</head>
<body>
    <!--=====================================
              SINGLE BANNER PART START
    =======================================-->
    <section class="single-banner">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="single-content">
                        <h2>blog details</h2>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-action="Dashboard" asp-controller="Dashboard">Home</a></li>
                            <li class="breadcrumb-item"><a asp-action="ManageBlog">blog-list</a></li>
                            <li class="breadcrumb-item active" aria-current="page">blog-details</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================
              SINGLE BANNER PART END
    =======================================-->
    
    <!--=========================================
                BLOG DETAILS PART START
    ===========================================-->
    <section class="blog-details-part">
        <div class="container">
            <div class="row">
                @if (Model.isPublished)
                {
                    <div class="col-lg-10 m-auto d-flex justify-content-end">
                        <div class="alert alert-success" role="alert">
                            This blog is already published.
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-10 m-auto d-flex justify-content-end">
                        <a class="btn btn-primary" asp-action="PublishBlog" asp-controller="Dashboard" asp-route-blogId="@Model.blogId">Publish</a>
                    </div>
                }
                <div class="col-lg-10 m-auto">
                    <div class="blog-details-title">
                        <h2><a href="#">@Model.title</a></h2>
                    </div>
                    <ul class="blog-details-meta">
                        <li>
                            <a href="#">
                                <i class="far fa-user"></i>
                                <p>MironMahmud</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-calendar-alt"></i>
                                <p>02 Feb 2020</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-folder-open"></i>
                                <p>advertising</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-comments"></i>
                                <p>37 Comment</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="far fa-share-square"></i>
                                <p>21 Share</p>
                            </a>
                        </li>
                    </ul>
                    <div class="blog-details-image">
                        @{
                            var hasImage = Model.featuredImage != null && Model.featuredImage.Length > 0;
                            var imageSrc = hasImage
                            ? $"data:image/png;base64,{Convert.ToBase64String(Model.featuredImage)}"
                            : Url.Content("~/images/white-screen.jpg");
                        }
                        <img src="@imageSrc" alt="blog" />
                    </div>
                    <div class="blog-details-content">
                        <div class="description">
                            <p>@Model.summary</p>
                        </div>
                        <div class="sub-content">
                            <h3>How to manage your advertise?</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos quasi deleniti voluptatem sint incidunt quos corporis recusandae repudiandae aspernatur voluptates omnis illum quaerat quidem veritatis, facilis enim quis quo ipsam ipsa doloribus, nostrum adipisci eligendi <a href="#">consequuntur</a> consequatur. Animi molestias ab ex eius, doloremque corporis sunt alias non deleniti doloribus</p>
                        </div>
                        <div class="quote-content">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id distinctio nulla velit est quidem repellendus esse non saepe cumque sapiente.</p>
                            <h5><a href="">jaurge anderson</a></h5>
                        </div>
                        <ul class="list-content">
                            <li>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quaerat tenetur, <a href="#">aperiam</a> odit, ratione eligendi nulla quae praesentium quo, a reiciendis inventore facilis veniam voluptates.</p>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad ullam impedit, architecto porro voluptas sequi ab beatae saepe quo magnam</p>
                            </li>
                            <li>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Ad ullam impedit architecto porro.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-details-widget">
                        <ul class="tag-list">
                            <li><h4>Tags:</h4></li>
                            <li><a href="#">Crowd</a></li>
                            <li><a href="#">Party</a></li>
                            <li><a href="#">Concert</a></li>
                        </ul>
                        <ul class="share-list">
                            <li><h4>Share:</h4></li>
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#"><i class="fab fa-behance"></i></a></li>
                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        </ul>
                    </div>
                    <div class="blog-details-author">
                        <div class="author-intro">
                            <a href="#"><img src="images/avatar/01.jpg" alt="author"></a>
                            <h4><a href="#">MironMahmud</a></h4>
                            <p><a href="#">www.mironmahmud.com</a></p>
                        </div>
                        <div class="author-content">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-behance"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate temporibus harum laborum quaerat blanditiis iste mollitia aperiam aut voluptates quidem nois aliquam incidunt expedita odit id repellat dicta Odio consectetur modi mollitia nihil Deserunt ab non tenetur quasi libero magni eos tempora iure facere dolores accusantium.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="blog-card">
                                <div class="blog-img">
                                    <img src="images/blog/02.jpg" alt="blog">
                                    <div class="blog-overlay">
                                        <span class="advertise">advertise</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="blog-avatar">
                                        <img src="images/avatar/01.jpg" alt="avatar">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <p><a href="#">MironMahmud</a></p>
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            <p>02 Feb 2021</p>
                                        </li>
                                    </ul>
                                    <div class="blog-text">
                                        <h4><a href="#">Lorem ipsum dolor sit amet eius minus elit cum quaerat volupt.</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam ad dolore labore laborum perspiciatis...</p>
                                    </div>
                                    <a href="#" class="blog-read">
                                        <span>read more</span>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="blog-card">
                                <div class="blog-img">
                                    <img src="images/blog/03.jpg" alt="blog">
                                    <div class="blog-overlay">
                                        <span class="safety">safety</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="blog-avatar">
                                        <img src="images/avatar/02.jpg" alt="avatar">
                                    </a>
                                    <ul class="blog-meta">
                                        <li>
                                            <i class="fas fa-user"></i>
                                            <p><a href="#">LabonnoKhan</a></p>
                                        </li>
                                        <li>
                                            <i class="fas fa-clock"></i>
                                            <p>02 Feb 2021</p>
                                        </li>
                                    </ul>
                                    <div class="blog-text">
                                        <h4><a href="#">Lorem ipsum dolor sit amet eius minus elit cum quaerat volupt.</a></h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus veniam ad dolore labore laborum perspiciatis...</p>
                                    </div>
                                    <a href="#" class="blog-read">
                                        <span>read more</span>
                                        <i class="fas fa-long-arrow-alt-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="blog-details-navigate">
                                <a href="#">
                                    <i class="fas fa-long-arrow-alt-left"></i>
                                    <span>Previous Post</span>
                                </a>
                                <a href="#">
                                    <span>Next Post</span>
                                    <i class="fas fa-long-arrow-alt-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-details-comment">
                        <div class="comment-title">
                            <h3>Comments (3)</h3>
                        </div>
                        <ul class="comment-list">
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a href="#"><img src="images/avatar/01.jpg" alt="comment"></a>
                                        <button class="btn btn-inline">
                                            <i class="fas fa-reply-all"></i>
                                            <span>reply</span>
                                        </button>
                                    </div>
                                    <div class="comment-content">
                                        <h4>
                                            <a href="#">MironMahmud</a>
                                            <span>02 February 2020</span>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab aperiam corrupti maiores animi nisi ratione maxime quae in doloremque corporis tempore earum ut voluptas exercitationem.</p>
                                    </div>
                                </div>
                                <ul>
                                    <li>
                                        <div class="comment">
                                            <div class="comment-author">
                                                <a href="#"><img src="images/avatar/02.jpg" alt="comment"></a>
                                                <button class="btn btn-inline">
                                                    <i class="fas fa-reply-all"></i>
                                                    <span>reply</span>
                                                </button>
                                            </div>
                                            <div class="comment-content">
                                                <h4>
                                                    <a href="#">LabonnoKhan</a>
                                                    <span>02 February 2020</span>
                                                </h4>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab aperiam corrupti maiores animi nisi ratione maxime quae in doloremque corporis tempore earum ut voluptas exercitationem.</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <div class="comment">
                                    <div class="comment-author">
                                        <a href="#"><img src="images/avatar/03.jpg" alt="comment"></a>
                                        <button class="btn btn-inline">
                                            <i class="fas fa-reply-all"></i>
                                            <span>reply</span>
                                        </button>
                                    </div>
                                    <div class="comment-content">
                                        <h4>
                                            <a href="#">MironMahmud</a>
                                            <span>02 February 2020</span>
                                        </h4>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab aperiam corrupti maiores animi nisi ratione maxime quae in doloremque corporis tempore earum ut voluptas exercitationem.</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="blog-details-form">
                        <div class="form-title">
                            <h3>Leave Your Comment</h3>
                        </div>
                        <form>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Your Comment"></textarea>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="form-btn">
                                        <button type="submit" class="btn btn-inline">
                                            <i class="fas fa-tint"></i>
                                            <span>Drop your comment</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=========================================
                BLOG DETAILS PART END
    ===========================================-->
    <!--=====================================
                FOOTER PART PART
    =======================================-->
    <footer class="footer-part">
        <div class="container">
            <div class="row newsletter">
                <div class="col-lg-6">
                    <div class="news-content">
                        <h2>Subscribe for Latest Offers</h2>
                        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam, aliquid reiciendis! Exercitationem soluta provident non.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <form class="news-form">
                        <input type="text" placeholder="Enter Your Email Address">
                        <button class="btn btn-inline">
                            <i class="fas fa-envelope"></i>
                            <span>Subscribe</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <h3>Contact Us</h3>
                        <ul class="footer-address">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <p>1420 West Jalkuri Fatullah, <span>Narayanganj, BD</span></p>
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                <p>support@classicads.com <span>info@classicads.com</span></p>
                            </li>
                            <li>
                                <i class="fas fa-phone-alt"></i>
                                <p>+8801838288389 <span>+8801941101915</span></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <h3>Quick Links</h3>
                        <ul class="footer-widget">
                            <li><a href="#">Store Location</a></li>
                            <li><a href="#">Orders Tracking</a></li>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Size Guide</a></li>
                            <li><a href="#">Faq</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-content">
                        <h3>Information</h3>
                        <ul class="footer-widget">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery System</a></li>
                            <li><a href="#">Secure Payment</a></li>
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3">
                    <div class="footer-info">
                        <a href="#"><img src="images/logo.png" alt="logo"></a>
                        <ul class="footer-count">
                            <li>
                                <h5>929,238</h5>
                                <p>Registered Users</p>
                            </li>
                            <li>
                                <h5>242,789</h5>
                                <p>Community Ads</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-card-content">
                        <div class="footer-payment">
                            <a href="#"><img src="images/pay-card/01.jpg" alt="01"></a>
                            <a href="#"><img src="images/pay-card/02.jpg" alt="02"></a>
                            <a href="#"><img src="images/pay-card/03.jpg" alt="03"></a>
                            <a href="#"><img src="images/pay-card/04.jpg" alt="04"></a>
                        </div>
                        <div class="footer-option">
                            <button type="button" data-toggle="modal" data-target="#language"><i class="fas fa-globe"></i>English</button>
                            <button type="button" data-toggle="modal" data-target="#currency"><i class="fas fa-dollar-sign"></i>USD</button>
                        </div>
                        <div class="footer-app">
                            <a href="#"><img src="images/play-store.png" alt="play-store"></a>
                            <a href="#"><img src="images/app-store.png" alt="app-store"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-end">
            <div class="container">
                <div class="footer-end-content">
                    <p>All Copyrights Reserved &copy; 2021 - Developed by <a href="#">Mironcoder</a></p>
                    <ul class="footer-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--=====================================
                FOOTER PART END
    =======================================-->
    <!--=====================================
              CURRENCY MODAL PART START
    =======================================-->
    <div class="modal fade" id="currency">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Currency</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">United States Doller (USD) - $</button>
                    <button class="modal-link">Euro (EUR) - €</button>
                    <button class="modal-link">British Pound (GBP) - £</button>
                    <button class="modal-link">Australian Dollar (AUD) - A$</button>
                    <button class="modal-link">Canadian Dollar (CAD) - C$</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
              CURRENCY MODAL PART END
    =======================================-->
    <!--=====================================
              LANGUAGE MODAL PART END
    =======================================-->
    <div class="modal fade" id="language">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Choose a Language</h4>
                    <button class="fas fa-times" data-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <button class="modal-link active">English</button>
                    <button class="modal-link">bangali</button>
                    <button class="modal-link">arabic</button>
                    <button class="modal-link">germany</button>
                    <button class="modal-link">spanish</button>
                </div>
            </div>
        </div>
    </div>
    <!--=====================================
               LANGUAGE MODAL PART END
    =======================================-->
    <!--=====================================
                JS LINK PART START
    =======================================-->
    <!-- VENDOR -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/slick.min.js"></script>

    <!-- CUSTOM -->
    <script src="js/custom/slick.js"></script>
    <script src="js/custom/main.js"></script>
    <!--=====================================
                JS LINK PART END
    =======================================-->
</body>
</html>