@model IEnumerable<CategoryViewModel>
@using NonFactors.Mvc.Grid;
@{
    ViewBag.Title = "Categories";
}

<!--=====================================
    SINGLE BANNER PART START
    =======================================-->
<section class="single-banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="single-content">
                    <h2>Categories</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Dashboard">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Categoires</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=====================================
SINGLE BANNER PART END
=======================================-->
<!--=====================================
COMPARE PART START
=======================================-->
<br />
<div class="container">

    <div class="container-fluid">
        
        @(
            Html.Grid(Model).Build(col =>
                {
                col.Add().Encoded(false)
            .RenderedAs(Model => $@"<i class='fas fa-plus' style='cursor:pointer' onclick='showSubCategories({Model.SubCategoryName})' />");
            //col.Add().RenderedAs((model, row) => row + 1).Titled("#");
                col.Add(Model => Model.CategoryName).Titled("Category Name");
                col.Add().Titled("Category Image").Encoded(false).RenderedAs(c =>// Render image tag with the ImageUrl property
                $@"<img src='{Url.Content(c.CategoryImage)}' alt='Product Image' style='width:100px;height:auto;' onerror='this.src=&quot;/images/default-category.jpg&quot;' />"
                );
            }).Empty("No data Found")
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 50, "50" } };
                pager.ShowPageSizes = false;
                pager.PagesToDisplay = 3;
                @* pager.CurrentPage = 1; *@
                pager.RowsPerPage = 10;
            })
        )       
     </div>
</div>

<script src="~/js/mvc-grid/mvc-grid.js"></script>

<script type="text/javascript">

    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));

    // Function to handle the click event and show subcategories
    function showSubCategories(subCategoryName) { 
        var subCategories = $(this).data("id");
        alert(subCategoryName); // Example to show the first subcategory name
    }
</script>
<!--=====================================
            JS LINK PART END
=======================================-->
