html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.banner-part {
    background: url(../../images/bg/01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 95px 0px 178px;
    position: relative;
    z-index: 1;
}

.banner-content {
    text-align: center;
}

    .banner-content h1 {
        color: var(--white);
        margin-bottom: 20px;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

    .banner-content p {
        width: 600px;
        font-size: 18px;
        line-height: 28px;
        margin: 0 auto 45px;
        color: var(--white);
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
    }

.banner-part::before {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(4, 53, 138, 0.65), rgba(5, 44, 112, 0.65));
    z-index: -1;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

.suggest-part {
    position: relative;
    margin-top: -85px;
    z-index: 2;
}

.suggest-slider .slick-slide img {
    display: inline-block;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

.feature-card-slider {
    margin-left: 50px;
    margin-bottom: 18px;
}

.feature-thumb-slider {
    margin-left: 50px;
}

@media (max-width: 991px) {
    .feature-card-slider,
    .feature-thumb-slider {
        margin-left: 0px;
    }
}

@media (min-width: 400px) and (max-width: 575px) {
    .feature-card-slider {
        width: 370px;
        margin: 0px auto 30px;
    }

    .feature-thumb-slider {
        width: 370px;
        margin: 0px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .feature-content {
        position: inherit;
        padding: 20px 20px 15px;
        background: var(--heading);
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }

    .feature-img img {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .feature-wish {
        top: 15px;
        right: 15px;
    }

    .feature-meta {
        display: flex;
        flex-direction: column;
    }

    .feature-price {
        margin: 0px 0px 5px;
    }
}

/*=====================================
         RECOMMENDED PART STYLE
======================================*/
.recomend-slider .product-card {
    margin: 0px 10px;
}

@media (max-width: 575px) {
    .recomend-slider .product-card {
        width: 255px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .recomend-slider .product-card {
        width: 300px;
    }
}

/*=====================================
            NICHE PART STYLE
======================================*/
.niche-part .niche-nav {
    margin-bottom: 30px;
}

.niche-part .tab-pane {
    padding: 0px;
}

    .niche-part .tab-pane .row {
        justify-content: center;
    }

.niche-part .product-card {
    margin-bottom: 30px;
}

@media (max-width: 575px) {
    .niche-nav .nav-tabs li .nav-link {
        font-size: 12px;
        line-height: 18px;
        padding: 10px 10px;
    }
}

@media (min-width: 380px) and (max-width: 575px) {
    .niche-part .product-card {
        width: 350px;
        margin: 0px auto 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .niche-part .container {
        max-width: 990px;
    }

        .niche-part .container .col-lg-3 {
            padding: 0px 10px;
        }
}

/*=====================================
            CATEGORY PART STYLE
======================================*/
.category-part .row:nth-child(2) {
    justify-content: center;
}

/*=====================================
            INTRO PART STYLE
======================================*/
.intro-part {
    padding: 112px 0px 415px;
    margin-top: 120px;
    position: relative;
    background: linear-gradient(#0044bb, #080229);
}

    .intro-part::before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: url(../../images/bg/02.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .intro-part .section-center-heading {
        margin-bottom: 0px;
    }

        .intro-part .section-center-heading h2 {
            font-size: 45px;
            line-height: 55px;
            color: var(--white);
            margin-bottom: 22px;
        }

        .intro-part .section-center-heading p {
            color: var(--white);
            margin-bottom: 45px;
        }

@media (max-width: 575px) {
    .intro-part .section-center-heading h2 {
        font-size: 28px;
        line-height: 36px;
    }
}

@media (max-width: 767px) {
    .intro-part {
        margin-top: 60px;
        padding: 50px 0px 365px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .intro-part {
        margin-top: 80px;
        padding: 70px 0px 385px;
    }
}

/*=====================================
            PRICE PART STYLE
======================================*/
.price-part {
    margin-top: -300px;
}

    .price-part .row:nth-child(2) {
        justify-content: center;
    }

    .price-part .section-center-heading h2,
    .price-part .section-center-heading p {
        color: var(--white);
    }

/*=====================================
            BLOG PART STYLE
======================================*/
.blog-part {
    padding: 120px 0px;
}

.blog-card {
    margin: 0px 15px;
}

.blog-btn {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 575px) {
    .blog-card {
        width: 290px;
    }
}

@media (max-width: 767px) {
    .blog-part {
        padding: 30px 0px 60px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .blog-card {
        width: 335px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .blog-part {
        padding: 50px 0px 80px;
    }
}


/*=====================================
          USER-FORM PAGE STYLE
======================================*/
.user-form-part {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}

.user-form-banner {
    width: 60%;
    height: 100vh;
    background: url(../../images/bg/03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
}

    .user-form-banner::before {
        position: absolute;
        content: "";
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, rgba(2, 33, 85, 0.7), rgba(21, 107, 255, 0.7));
        z-index: -1;
    }

.user-form-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 600px;
}

    .user-form-content a {
        margin-bottom: 35px;
    }

        .user-form-content a img {
            width: 250px;
            height: auto;
        }

    .user-form-content h1 {
        color: var(--white);
        font-size: 45px;
        line-height: 55px;
        margin-bottom: 45px;
    }

        .user-form-content h1 span {
            display: block;
        }

    .user-form-content p {
        color: var(--white);
        font-size: 24px;
        line-height: 32px;
    }

.user-form-category {
    width: 40%;
    height: 100vh;
    background: #fbfbfb;
    overflow-y: scroll;
    overflow-x: hidden;
}

.user-form-header {
    position: fixed;
    top: 50px;
    left: 50px;
    z-index: 1;
}

    .user-form-header a:nth-child(1) {
        display: none;
    }

    .user-form-header a i {
        display:inline-block;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        font-size: 16px;
        color: var(--primary);
        background: var(--white);
        text-shadow: var(--primary-tshadow);
        box-shadow: var(--primary-bshadow);
    }

        .user-form-header a i:hover {
            color: var(--white);
            background: var(--primary);
        }

.user-form-category-btn {
    margin-bottom: 50px;
}

.user-form-title {
    text-align: center;
    margin-bottom: 45px;
}

    .user-form-title h2 {
        margin-bottom: 7px;
    }

.user-form-option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

    .user-form-option li {
        margin: 0px 8px;
    }

        .user-form-option li a {
            width: 125px;
            padding: 5px;
            color: var(--white);
            border-radius: 8px;
        }

            .user-form-option li a i {
                width: 32px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                border-radius: 8px;
                font-size: 12px;
                margin-right: 8px;
                text-shadow: var(--primary-tshadow);
            }

            .user-form-option li a span {
                font-size: 14px;
                text-transform: capitalize;
                text-shadow: var(--primary-tshadow);
            }

        .user-form-option li:nth-child(1) a {
            background: #4267B2;
        }

            .user-form-option li:nth-child(1) a i {
                background: #375797;
            }

        .user-form-option li:nth-child(2) a {
            background: #1DA1F2;
        }

            .user-form-option li:nth-child(2) a i {
                background: #1a95e2;
            }

        .user-form-option li:nth-child(3) a {
            background: #DB4437;
        }

            .user-form-option li:nth-child(3) a i {
                background: #be3a2e;
            }

.user-form-devider {
    position: relative;
    z-index: 1;
}

    .user-form-devider::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 1px;
        background: #e8e8e8;
        z-index: -1;
    }

    .user-form-devider p {
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        background: var(--white);
        border: 1px solid #e8e8e8;
        margin: 0px auto 30px;
    }

.user-form-direction {
    text-align: center;
    margin: 30px 0px 50px;
}

    .user-form-direction p {
        color: #666666;
        font-size: 18px;
        width: 305px;
        margin: 0 auto;
    }

        .user-form-direction p span {
            font-weight: 500;
            color: var(--primary);
        }

.form-group {
    margin-bottom: 20px;
    position: relative;
}

    .form-group:focus-within .form-icon {
        visibility: visible;
        opacity: 1;
    }

    .form-group:focus-within .form-alert {
        display: block;
    }

    .form-group .btn {
        width: 100%;
        padding: 10px 30px;
    }

.form-control {
    width: 100%;
    height: 45px;
    background: var(--white);
    padding: 0px 55px 0px 20px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

    .form-control:focus {
        outline: none;
        box-shadow: none;
        color: var(--gray);
        background: var(--white);
        border-color: var(--primary);
    }

.form-icon {
    border: none;
    background: none;
    line-height: 0px;
    position: absolute;
    top: 15px;
    right: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

    .form-icon i {
        font-size: 16px;
        color: #aaaaaa;
    }

.form-alert {
    display: none;
    padding: 3px 20px;
}

.form-forgot {
    font-size: 15px;
    color: var(--gray);
}

    .form-forgot:hover {
        color: var(--primary);
        text-decoration: underline;
    }

.custom-control-label {
    font-size: 15px;
    line-height: 26px;
    cursor: pointer;
}

    .custom-control-label::before {
        top: 5px;
    }

    .custom-control-label::after {
        top: 5px;
    }

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primary);
    background-color: var(--primary);
    box-shadow: none;
}

.form-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    background: var(--primary);
    border-radius: 8px;
}

    .form-grid input {
        width: 100%;
        height: 45px;
        border: none;
        background: transparent;
        padding: 0px 20px;
    }

    .form-grid .btn {
        width: 180px;
        height: 45px;
        padding: 14px 0px;
        text-align: center;
    }



@media (max-width: 767px) {
    .user-form-option li a {
        width: auto;
    }

        .user-form-option li a i {
            width: 60px;
            margin-right: 0px;
        }

        .user-form-option li a span {
            display: none;
        }
}

@media (max-width: 575px) {
    .user-form-banner {
        display: none;
    }

    .user-form-category {
        width: 100%;
    }

    .user-form-header {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        padding: 15px;
        top: 0px;
        left: 0px;
        z-index: 3;
        width: 100%;
        background: var(--white);
        box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    }

        .user-form-header a:nth-child(1) {
            display: block;
        }

        .user-form-header a img {
            width: 150px;
        }

        .user-form-header a i {
            width: 40px;
            height: 40px;
            line-height: 40px;
            color: var(--primary);
            background: var(--white);
        }

            .user-form-header a i:hover {
                color: var(--white);
                background: var(--primary);
            }

    .user-form-category-btn {
        margin-top: 72px;
    }

    .user-form-direction p {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 991px) {
    .user-form-header {
        top: 30px;
        left: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .user-form-banner {
        width: 42%;
    }

    .user-form-content {
        width: 230px;
    }

        .user-form-content a img {
            width: 150px;
        }

        .user-form-content h1 {
            font-size: 20px;
            line-height: 30px;
            margin-bottom: 25px;
        }

        .user-form-content p {
            font-size: 16px;
        }

    .user-form-category {
        width: 58%;
    }

    .user-form-direction p {
        width: 260px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .user-form-banner {
        width: 40%;
    }

    .user-form-content {
        width: 280px;
    }

        .user-form-content a img {
            width: 200px;
        }

        .user-form-content h1 {
            font-size: 28px;
            line-height: 36px;
            margin-bottom: 25px;
        }

        .user-form-content p {
            font-size: 20px;
            line-height: 28px;
        }

    .user-form-category {
        width: 60%;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .user-form-banner {
        width: 50%;
    }

    .user-form-content {
        width: 460px;
    }

        .user-form-content a img {
            width: 200px;
        }

    .user-form-category {
        width: 50%;
    }
} 

/* Grid Css*/
.mvc-grid-table > table > thead > tr > th {
    background-color: #06038d !important;
    color: #FFFFFF;
    text-align:center;
}
.mvc-grid-table > table tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.mvc-grid-table > table tr:nth-child(even) {
    background-color: #c7e6f3b8;
}
.spinner-css {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 5%;
    height: 10%;
    background: rgba(255, 255, 255, 0.8); /* Light transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
