@model IEnumerable<IndiaLivings_Web_UI.Models.JobNewsViewModel>
@using NonFactors.Mvc.Grid
@{
    ViewBag.Title = "Job News";
    <link rel="stylesheet" href="~/fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="~/fonts/font-awesome/fontawesome.css" />
}

<div class="container">

    <h4 class="m-2">Job Details</h4>

    <div class="container-fluid">
        @(
            Html.Grid(Model).Build(col =>
            {
                col.Add().RenderedAs((model, row) => row + 1).Titled("#").Width("1%").Css("text-center");
                @* col.Add(Model => Model.RoleID).Titled("RoleID"); *@
                col.Add(Model => Model.CompanyName).Titled("Job Name");
                col.Add(Model => Model.SalaryRange).Titled("Salary");
                col.Add(Model => Model.JobLocation).Titled("JobLocation");
                col.Add(Model => Model.Summary).Titled("Job Summary");
            })
            .Sortable().Filterable()
            .Empty("No data Found")
            .Pageable(pager =>
            {
                pager.PageSizes = new Dictionary<Int32, String> { { 0, "All" }, { 5, "5" }, { 10, "10" }, { 50, "50" } };
                pager.ShowPageSizes = false;
                pager.PagesToDisplay = 3;
                @* pager.CurrentPage = 1; *@
                pager.RowsPerPage = 10;
            })
            )
    </div>
    <div class="container-fluid p-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-inline">Apply</button>
    </div>
</div>
<script src="~/js/mvc-grid/mvc-grid.js"></script>
<script>
    document.querySelectorAll(".mvc-grid").forEach(element => new MvcGrid(element));
</script>
